:root {
  /**
   * scrollbar colours
   */
  --scrollbar-thumb-light: var(--color-gray-2);
  --scrollbar-thumb-dark: var(--color-gray-4);
  --scrollbar-bg-light: var(--color-gray-0);
  --scrollbar-bg-dark: var(--color-gray-5);

  /**
   * misc colours
   */
  --color-text: light-dark(var(--color-base-dark), var(--color-base-light));
  --color-text-reverse: light-dark(
    var(--color-base-light),
    var(--color-base-dark)
  );
  --header-text: light-dark(
    var(--color-primary-medium),
    var(--color-primary-medium)
  );
  --code-color: light-dark(var(--color-code-light), var(--color-code-dark));
  --focusable: deeppink;
  --focused: hotpink;
  --card-bg: light-dark(var(--color-gray-0), var(--color-base-dark));
  --card-bg-hover: light-dark(var(--color-gray-1), var(--color-base-darkest));
}

* {
  a {
    text-decoration-line: none;
    word-wrap: break-word;
  }

  code {
    font-family: var(--font-family-operator);
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 600;
    font-size: 90%;
    background-color: var(--astro-code-background);
    border-radius: 5px;
    color: var(--code-color);
    padding: .1em .25em;
  }

  table {
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1.5px solid
      light-dark(
        color-mix(in oklch, var(--color-base-dark), white 60%),
        color-mix(in oklch, var(--color-base-light), black 60%)
      );
    color: var(--color-base-dark);
    background: light-dark(var(--color-ivory-1), var(--color-gray-0));

    th {
      font-weight: 600;
      border-right: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      padding: 0.5rem;
      color: #fff;
      background-color: var(--color-expression-medium);
    }

    td {
      border-right: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      padding: 0.5rem;
    }

    thead tr {
      border-bottom: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      border-radius: 0.25rem;
    }

    tbody tr:last-child {
      border: none;
    }
  }
}

body {
  line-height: 1.5;
}

.astro-code {
  border: 1.5px solid
    light-dark(
      color-mix(in oklch, var(--color-base-dark), white 50%),
      color-mix(in oklch, var(--color-base-light), black 50%)
    );
  border-radius: 0.25rem;
  padding: 0.7rem 1rem;
  margin-block-end: var(--gutter-m);
  font-family: var(--base-font-family-operator);
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: 600;
  background-color: transparent !important;
  /* color: light-dark(currentColor, var(--shiki-dark)) !important; */
  code {
    font-family: var(--base-font-family-operator);
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 600;
    font-size: inherit;
    border: none;
    background-color: inherit;
    border-radius: 0;
    color: inherit;
    padding: 0;
  }
}

/* biome-ignore format: <explanation> */
@container style(--theme: dark) {
  .astro-code {
    color: var(--shiki-dark) !important;
    text-decoration: light-dark(
      var(--shiki-light-text-decoration),
      
    ) !important;

    span {
      color: var(--shiki-dark) !important;
      text-decoration: light-dark(
        var(--shiki-light-text-decoration),
        
      ) !important;
    }
  }
}

/* Individual heading styles */
@scope (article) {
  p:has(baseline-status) {
    border: 1px solid;
    padding: 1rem 2rem 0.5rem 2rem;
    border-radius: 4px;
    background: light-dark(transparent, var(--color-base-lightest));
    color: var(--color-base-darkest);
    border: 2px solid
      light-dark(var(--color-primary-medium), var(--color-primary-medium));
  }

  blockquote {
    width: 95%;
    margin: 20px auto;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: var(--color-base-darkest);
    padding: 1.2em 30px 1.2em 75px;
    border: 1px dotted light-dark(var(--color-primary-medium), transparent);
    border-left: 8px solid var(--color-primary-medium);
    line-height: 1.6;
    position: relative;
    background: light-dark(transparent, var(--color-base-lightest));
    p {
      margin: 0%;
    }
  }

  blockquote::before {
    font-family: Arial, sans-serif;
    content: "\201C";
    color: var(--color-primary-medium);
    font-optical-sizing: auto;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  blockquote::after {
    content: "";
  }

  blockquote span {
    display: block;
    color: var(--color-base-darkest);
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }

  a {
    transition: color .2s;
    color: var(--focusable);
    &:hover {
      color: var(--focused);
      text-decoration: underline;
      text-decoration-color: var(--focused);
      text-decoration-thickness: 0.2rem;
      text-decoration-style: dotted;
      text-decoration-skip-ink: none;
    }
  }

  aside {
    font-size: .8rem;
    position: relative;
    margin: 0 0 1.5rem;
    background: light-dark(var(--color-gray-1), var(--color-gray-0));
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 8px;
    overflow: hidden;
    color: var(--color-base-dark);
    padding: 1rem 5rem;

    p:first-child {
      font-weight: 900;
      font-size: 1.1em;
    }

    :last-child,
    :first-child {
      margin-bottom: 0;
    }
  }

  aside.memo {
    &::before,
    &::after {
      position: absolute;
      font-size: clamp(4em, 5vh, 6em);
      display: flex;
      align-items: center;
      width: 3rem;
      top: 0;
      bottom: 0;
      height: 100%;
      box-sizing: border-box;
      padding: 0;
      color: var(--color-memo-medium);
    }

    &::before {
      content: "{";
      left: 0;
      justify-content: flex-start;
      padding-left: 1rem;
    }

    &::after {
      content: "}";
      right: 0;
      justify-content: flex-end;
      padding-right: 1rem;
    }
  }

  aside.message {
    padding: 1rem 1rem 1rem 5rem;
    &::before {
      content: "FYI";
      font-style: italic;
      font-weight: 700;
      color: #fff;
      background: var(--color-expression-medium);
      padding: .88rem 1rem;
      margin-right: 1rem;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
  }

  hr {
    --curved-underlineWidth: 3;
    --curved-underlineColor: #ccc;
    --curved-underlineSpread: 60;

    background: paint(curved-underline);
    height: 20px;
    border: 0;
  }

  h1 {
    margin: 2rem 0 2rem -1.5rem;
  }

  h2 {
    margin: 2rem 0 2rem -1.5rem;
  }

  h3 {
    margin: 2rem 0 2rem -1.5rem;
  }

  h4 {
    margin: 2rem 0 2rem -1.5rem;
  }

  h5 {
    margin: 2rem 0 2rem -1.5rem;
  }

  h6 {
    margin: 2rem 0 2rem -1.5rem;
  }

  :where(h1, h2, h3, h4, h5, h6, [class*="h--"]) {
    a {
      color: var(--color-text);
    }

    &:hover {
      a {
        color: var(--color-text);
        text-decoration: none;
        &:after {
          content: " #";
          color: var(--color-notify-medium);
        }
      }
    }
    + * {
      margin-top: 0;
    }
  }
}

#table-of-contents {
  display: none;
  + p + details {
    @media (prefers-reduced-motion: no-preference) {
      /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
      interpolate-size: allow-keywords;
    }
    margin-top: 10px;

    summary {
      --offset: .5em;
      padding: .3em 1em;
      width: max-content;
      column-span: all;
      align-self: start;
      clip-path: polygon(
        var(--offset) 0,
        100% 0,
        calc(100% - var(--offset)) 100%,
        0 100%
      );
      margin: 0;
      margin-left: calc(-1 * var(--offset));
      background: var(--color-primary-medium);
      font: 800 .8rem / 1.2 var(--base-font-family-operator);
      &:hover {
        text-decoration-color: var(--focused);
      }
    }

    &::details-content {
      opacity: 0;
      block-size: 0;
      height: 0;
      overflow-y: clip;
      background-color: light-dark(
        color-mix(in oklab, oklch(87.57% 0.0326 17.79), white 40%),
        oklch(89.64% 0.0447 83.9)
      );
      color: var(--color-base-medium);
      padding: .8rem;
      transition: content-visibility .8s allow-discrete, height .8s
        allow-discrete, opacity .8s, block-size .8s;
      ul {
        list-style: none;
      }
    }

    &[open] {
      &::details-content {
        opacity: 1;
        block-size: auto;
        height: auto;
      }
      summary {
        text-decoration-color: var(--focused);
      }
    }
  }
}

.rlc-container {
  width: 100%;
  max-width: 800px;
  max-height: 120px;
  margin: 2rem auto 2rem;

  background-color: light-dark(var(--color-gray-0), var(--color-base-dark));
  color: light-dark(var(--color-base-darkest), var(--color-base-light));
  text-decoration: none;

  border: 1px solid light-dark(var(--color-base-dark), var(--color-base-light));
  border-radius: 0.25rem;
  display: flex;
  align-items: stretch;

  transition-property: all;
  transition-timing-function: var(
    var(--ease-in-out),
    var(--default-transition-timing-function)
  );
  transition-duration: var(200ms, var(--default-transition-duration));
  transition-duration: 200ms;
  transition-timing-function: var(--ease-in-out);

  &:hover {
    scale: 103%;
  }
}

.rlc-info {
  overflow: hidden;
  padding: 0.7rem 1rem;
  flex: 4 1 100px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rlc-title {
  font-size: var(--font-size-h5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rlc-description {
  font-size: var(--font-size-s);
  color: light-dark(var(--color-base-dark), var(--color-base-light));
  overflow: hidden;
  line-height: 1rem;
}

.rlc-url-container {
  display: flex;
  align-items: center;
}

.rlc-favicon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.rlc-url {
  font-size: var(--font-size-s);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rlc-image-container {
  position: relative;
  flex: 1 1 100px;
}

.rlc-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
