---
const { title } = Astro.props;
---

<h1 class="title">{title}</h1>


<style>
  .title {
	  font-family: var(--font-family-alegreya);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-block-start: var(--gutter-l);
  }
</style>