---
import SlidesFeed from "../components/SlidesFeed.astro";
import Title from "@sakupi01/layout/components/Title.astro";
import SocialLinks from "@sakupi01/layout/components/SocialLinks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout url="/">
  <div class="stack stack--gutter-xl">
    <div class="stack">
      <Title title="Hi I'm saku !" />
      <p>and I'm ...</p>
    </div>

    <section class="stack">
      <h2>On The Web</h2>
      <SocialLinks />
    </section>

    <hr />

    <section class="stack">
      <h2>On The Blog</h2>
      <iframe
        class="blog-embed"
        src={`${import.meta.env.PUBLIC_BLOG}recents`}
        allowfullscreen
        allow="clipboard-write; encrypted-media; picture-in-picture"
        loading="lazy"
        sandbox="allow-same-origin allow-top-navigation-by-user-activation"
      ></iframe>
      <a href="https://blog.sakupi01.com/" class="link-more"> Other posts → </a>
    </section>

    <hr />

    <section class="stack">
      <h2>At Conferences & Events</h2>
      <SlidesFeed />
      <a href="https://sakupi01.github.io/slides/" class="link-more"
        >More on talks →
      </a>

      <div class="box stack stack--gutter-sm">
        <h3>Upcoming Event...</h3>
        <p>
          Google I/O @San Francisco, USA, Offline, 2026/05/19(Tue) -
          2026/05/20(Wed)
        </p>
        <a class="link-more" href="https://io.google/2026/" target="_blank">
          Find me! →
        </a>
      </div>
    </section>

    <hr />

    <div class="switcher">
      <section class="stack">
        <h2>On Podcasts</h2>
        <iframe
          class="spotify-embed"
          src="https://open.spotify.com/embed/playlist/319B0cGovsoQP55KmEDHsB?utm_source=generator"
          height="400"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
      </section>

      <section class="stack">
        <h2>etc, etc...</h2>
        <ul class="link-list">
          <li>
            <a href="https://blog.sakupi01.com/">📝 What I'm Writing.</a>
          </li>
          <li>
            <a href="https://studio.sakupi01.com/">🧚🏻‍♀️ What I'm Experimenting.</a
            >
          </li>
          <li>
            <a
              href="https://sakupi01.notion.site/Reading-List-a48d2fcb352942759b470e5535426390"
            >
              📚 What I'm Reading.
            </a>
          </li>
          <li>
            <a
              href="https://open.spotify.com/playlist/4L5YoZao0D90mf80iTsarN?si=62767b1dc7ac4880"
            >
              🎧 What I'm Listening.
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</Layout>

<style>
  iframe {
    content-visibility: auto;
  }

  .blog-embed {
    block-size: 70svb;
    inline-size: 100%;
  }

  .spotify-embed {
    border-radius: var(--s-border-radius-xl);
    inline-size: 100%;
  }

  .link-more {
    display: inline-block;
    font-style: italic;
    inline-size: fit-content;
    margin-block-start: var(--s-space-gutter-sm);
  }

  .link-list li {
    display: block;
    margin-block-end: var(--s-space-gutter-2xs);
  }

  .switcher {
    --threshold: calc(
      var(--base-site-max-width) / 2 - var(--s-space-gutter-lg)
    );
    --space: var(--s-space-gutter-lg);
  }
</style>
