---
const { title, style } = Astro.props;
---

<h1 class="title" style=`${style}`>{title}</h1>


<style>
  .title {
  font-optical-sizing: auto;
  font-weight: 600;
  margin-block-start: var(--gutter-l);
  }
</style>