.icon {
  aspect-ratio: 1;
  fill: currentcolor;
  inline-size: 1em; /* Scale icon to match font-size of parent element */
}

.icon--small {
  inline-size: var(--s-icon-size-sm);
}

.icon--medium {
  inline-size: var(--s-icon-size-md);
}

.icon--large {
  inline-size: var(--s-icon-size-lg);
}

.icon--xlarge {
  inline-size: var(--s-icon-size-xl);
}
