/*
----------------------------------------------------------------------------
Stack.

See https://every-layout.dev/layouts/stack/.
----------------------------------------------------------------------------
*/
.stack {
  --stack-gutter: var(--s-space-gutter-md);

  display: flex;
  flex-direction: column;
  gap: var(--stack-gutter);
}

.stack--gutter-xs {
  --stack-gutter: var(--s-space-gutter-xs);
}

.stack--gutter-sm {
  --stack-gutter: var(--s-space-gutter-sm);
}

.stack--gutter-lg {
  --stack-gutter: var(--s-space-gutter-lg);
}

.stack--gutter-xl {
  --stack-gutter: var(--s-space-gutter-xl);
}
