---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
    <div class="left">
        <Logo />
    </div>
    <div class="right">
        <Navigation />
        <!-- <ThemeIcon /> -->
    </div>
</header>

<style>
    header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: var(--header-text);
    padding: .5rem;
    font-family: var(--font-family-operator);
    font-style: italic;
    font-weight: 600;
    }
</style>