<div class="hr">
    <svg width="100" height="50" class="slo7d8"><path d="M 0,25 Q 5,30 10,25 Q 15,20 20,25 Q 25,30 30,25 Q 35,20 40,25 Q 45,30 50,25 Q 55,20 60,25 Q 65,30 70,25 Q 75,20 80,25 Q 85,30 90,25" fill="none" stroke-linecap="round" stroke="var(--color-secondary)" stroke-width="2"></path></svg>
</div>

<style>
    .hr {
        margin: 32px auto 48px;
        max-width: 100px;
    }
</style>