---
---
<a href="/" target="_blank">{"<home />"}</a>
<button popovertarget="blog">
    {"<blog />"}
    <div id="blog" popover>
        <a href="/dev/" target="_blank">{"<dev />"}</a>
        <a href="/life/" target="_blank">{"<life />"}</a>
        <a href="/tags/" target="_blank">{"<tags />"}</a>
    </div>
</button>
<a href="https://sakupi01.github.io/slides/" target="_blank">{"<talks />"}</a>
<a href="/rss.xml" target="_blank">{"<rss />"}</a>