---
const { title, style } = Astro.props;
---

<h1 class="title" style=`${style}`>{title}</h1>


<style>
  .title {
	  font-family: var(--font-family-title);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-block-start: var(--gutter-l);
  min-width: var(--main-max-width);
  }
</style>