/*
----------------------------------------------------------------------------
Article Markdown Style
----------------------------------------------------------------------------
*/
@scope (article) {
  /*
  ----------------------------------------------------------------------------
  Blockquote
  ----------------------------------------------------------------------------
  */
  blockquote {
    width: 95%;
    margin: 20px auto;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: var(--color-base-darkest);
    padding: 1.2em 30px 1.2em 75px;
    border: 1px dotted light-dark(var(--color-primary-medium), transparent);
    border-left: 8px solid var(--color-primary-medium);
    line-height: 1.6;
    position: relative;
    background: light-dark(transparent, var(--color-base-lightest));

    p {
      margin: 0%;
    }

    &::before {
      font-family: Arial, sans-serif;
      content: "\201C";
      color: var(--color-primary-medium);
      font-optical-sizing: auto;
      font-size: 4em;
      position: absolute;
      left: 10px;
      top: -10px;
    }

    &::after {
      content: "";
    }

    span {
      display: block;
      color: var(--color-base-darkest);
      font-style: normal;
      font-weight: bold;
      margin-top: 1em;
    }
  }

  a {
    transition: color .2s;
    color: var(--focusable);

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--focusable);
      text-decoration-thickness: 0.2rem;
      text-decoration-style: dotted;
      text-decoration-skip-ink: none;
    }
  }

  /*
  ----------------------------------------------------------------------------
  Baseline Status
  ----------------------------------------------------------------------------
  */
  p:has(baseline-status) {
    padding: 1rem 2rem 0.5rem;
    border-radius: 4px;
    background: light-dark(transparent, var(--color-base-lightest));
    color: var(--color-base-darkest);
    border: 2px solid
      light-dark(var(--color-primary-medium), var(--color-primary-medium));
  }

  /*
  ----------------------------------------------------------------------------
  Aside Message Styles
  ----------------------------------------------------------------------------
  */
  aside {
    /*
    ----------------------------------------------------------------------------
    Shared
    ----------------------------------------------------------------------------
    */
    font-size: .8rem;
    position: relative;
    margin: 0 0 1.5rem;
    background: light-dark(var(--color-gray-1), var(--color-gray-0));
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 8px;
    overflow: hidden;
    padding: 1rem 5rem;
    color: var(--color-base-dark);

    p:first-child {
      font-weight: 900;
      font-size: 1.1em;
    }

    :last-child,
    :first-child {
      margin-bottom: 0;
    }

    /*
    ----------------------------------------------------------------------------
    Class Memo
    ----------------------------------------------------------------------------
    */
    &.memo {
      &::before,
      &::after {
        position: absolute;
        font-size: clamp(4em, 5vh, 6em);
        display: flex;
        align-items: center;
        width: 3rem;
        top: 0;
        bottom: 0;
        height: 100%;
        box-sizing: border-box;
        padding: 0;
        color: var(--color-memo-medium);
      }

      &::before {
        content: "{";
        left: 0;
        justify-content: flex-start;
        padding-left: 1rem;
      }

      &::after {
        content: "}";
        right: 0;
        justify-content: flex-end;
        padding-right: 1rem;
      }
    }

    /*
    ----------------------------------------------------------------------------
    Class Message
    ----------------------------------------------------------------------------
    */
    &.message {
      padding: 1rem 1rem 1rem 5rem;

      &::before {
        content: "FYI";
        font-style: italic;
        font-weight: 700;
        color: #fff;
        background: var(--color-expression-medium);
        padding: .88rem 1rem;
        margin-right: 1rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
      }
    }

    /*
    ----------------------------------------------------------------------------
    Class Info
    ----------------------------------------------------------------------------
    */
    &.info {
      padding: 2.5rem .88rem .88rem;

      &::before {
        content: "INFO";
        font-style: italic;
        font-weight: 700;
        color: #fff;
        background: var(--color-success-medium);
        padding: .2rem;
        margin-right: 1rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
      }
    }
  }

  hr {
    /* stylelint-disable-next-line custom-property-pattern */
    --curved-underlineWidth: 3;
    /* stylelint-disable-next-line custom-property-pattern */
    --curved-underlineColor: #ccc;
    /* stylelint-disable-next-line custom-property-pattern */
    --curved-underlineSpread: 60;

    background: paint(curved-underline);
    height: 20px;
    border: 0;
  }

  /*
  ----------------------------------------------------------------------------
  Heading Styles
  ----------------------------------------------------------------------------
  */
  h1 {
    margin: 2rem 0 2rem -1.5rem;
  }

  h2 {
    margin: 2rem 0 2rem -1.5rem;

    &::before {
      color: var(--color-cyan-2);
    }
  }

  h3 {
    margin: 2rem 0 2rem -1.5rem;

    &::before {
      color: var(--color-violet-2);
    }
  }

  h4 {
    margin: 2rem 0 2rem -1.5rem;
  }

  h5 {
    margin: 2rem 0 2rem -1.5rem;
  }

  h6 {
    margin: 2rem 0 2rem -1.5rem;
  }

  /*
  ----------------------------------------------------------------------------
  Shared Heading Styles
  ----------------------------------------------------------------------------
  */
  :is(h1, h2, h3, h4, h5, h6, [class*="h--"]) {
    font-family: var(--base-font-family-alegreya);

    a {
      color: var(--color-text);
    }

    &:hover {
      a {
        color: var(--color-text);
        text-decoration: none;

        &::after {
          content: " #";
          color: var(--color-notify-medium);
        }
      }
    }

    + * {
      margin-top: 0;
    }
  }

  :is(h2, h3) {
    &::before {
      content: "¶";
      opacity: 0.2;
      font-size: 2em;
      position: absolute;
      transform: translateY(-0.2em) translateX(-0.2em);
    }
  }

  /*
  ----------------------------------------------------------------------------
  Link Card
  ----------------------------------------------------------------------------
  */
  .rlc-container {
    width: 100%;
    max-height: 152px;
    margin: 2rem 0;
    background-color: light-dark(var(--color-gray-0), var(--color-base-dark));
    color: light-dark(var(--color-base-darkest), var(--color-base-light));
    text-decoration: none;
    border: 1px solid
      light-dark(var(--color-base-dark), var(--color-base-light));
    border-radius: 0.25rem;
    display: flex;
    align-items: stretch;
    transition-property: all;
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    transition-duration: 200ms;
    transition-timing-function: var(--ease-in-out);

    &:hover {
      scale: 103%;
    }

    .rlc-info {
      overflow: hidden;
      padding: 0.7rem 1rem;
      flex: 4 1 100px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .rlc-title {
      font-size: var(--font-size-h5);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .rlc-description {
      font-size: var(--font-size-s);
      color: light-dark(var(--color-base-dark), var(--color-base-light));
      line-height: 1rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }

    .rlc-url-container {
      display: flex;
      align-items: center;
    }

    .rlc-favicon {
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }

    .rlc-url {
      font-size: var(--font-size-s);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .rlc-image-container {
      position: relative;
      flex: 1 1 100px;
    }

    .rlc-image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }

  /*
  ----------------------------------------------------------------------------
  Table of Contents
  ----------------------------------------------------------------------------
  */
  #table-of-contents {
    display: none;

    + p + details {
      @media (prefers-reduced-motion: no-preference) {
        /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
        interpolate-size: allow-keywords;
      }

      margin-top: 10px;

      summary {
        --offset: .5em;

        padding: .3em 1em;
        width: max-content;
        column-span: all;
        align-self: start;
        clip-path: polygon(
          var(--offset) 0,
          100% 0,
          calc(100% - var(--offset)) 100%,
          0 100%
        );
        margin: 0;
        margin-left: calc(-1 * var(--offset));
        background: var(--color-primary-medium);
        font: 800 .8rem / 1.2 var(--base-font-family-cascadia);

        &:hover {
          text-decoration-color: var(--focusable);
        }
      }

      &::details-content {
        opacity: 0;
        block-size: 0;
        height: 0;
        overflow-y: clip;
        background-color: light-dark(
          color-mix(in oklab, oklch(87.57% 0.0326 17.79deg), white 40%),
          oklch(89.64% 0.0447 83.9deg)
        );
        color: var(--color-base-medium);
        padding: .8rem;
        transition: content-visibility .8s allow-discrete, height .8s
          allow-discrete, opacity .8s, block-size .8s;

        ul {
          list-style: none;
        }
      }

      &[open] {
        &::details-content {
          opacity: 1;
          block-size: auto;
          height: auto;
        }

        summary {
          text-decoration-color: var(--focusable);
        }
      }
    }
  }

  /*
  ----------------------------------------------------------------------------
  Image Centering
  ----------------------------------------------------------------------------
  */
  p {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
