@import "index.css";

/*
----------------------------------------------------------------------------
Base Styles under sakupi01.com
----------------------------------------------------------------------------
*/
html {
  /**
   * scrollbar colours
   */
  --scrollbar-thumb-light: var(--color-gray-2);
  --scrollbar-thumb-dark: var(--color-gray-4);
  --scrollbar-bg-light: var(--color-gray-0);
  --scrollbar-bg-dark: var(--color-gray-5);

  /**
   * misc colours
   */
  --color-text: light-dark(var(--color-base-dark), var(--color-base-light));
  --color-text-reverse: light-dark(
    var(--color-base-light),
    var(--color-base-dark)
  );
  --header-text: light-dark(
    var(--color-primary-medium),
    var(--color-primary-medium)
  );
  --link-border: light-dark(
    color-mix(in oklch, var(--color-base-dark), white 50%),
    color-mix(in oklch, var(--color-base-light), black 30%)
  );
  --code-color: light-dark(var(--color-code-light), var(--color-code-dark));
  --focusable: deeppink;
  --focused: hotpink;
  --card-bg: light-dark(var(--color-gray-0), var(--color-base-dark));
  --card-bg-hover: light-dark(var(--color-gray-1), var(--color-base-darkest));
}

@scope (body) to (advent-calendar-2025) {
  * {
    line-height: 1.5;

    ::selection {
      color: light-dark(white, black);
      background-color: light-dark(
        var(--color-base-darkest),
        var(--color-base-lightest)
      );
    }
  }

  hr {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 12' preserveAspectRatio='none'%3E%3Cpath d='M2 6 Q 35 10 70 4 Q 105 -2 140 7 Q 175 14 198 6' fill='none' stroke='%23999999' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 12px;
    border: 0;
    opacity: 0.5;
    width: 20%;
    margin: 5cqi auto;
  }

  /*
  ----------------------------------------------------------------------------
  Links
  ----------------------------------------------------------------------------
  */
  a {
    text-decoration-line: none;
    word-wrap: break-word;
    transition: all .15s linear;
    padding: 0.05rem 0.1rem;
    border-bottom: 1px solid var(--link-border);

    &:hover {
      border-bottom: 1px solid var(--focusable);
    }
  }

  /*
  ----------------------------------------------------------------------------
  Code & style of fonts
  ----------------------------------------------------------------------------
  */
  @scope (main) to (.astro-code) {
    :is(
        code,
        nav,
        summary,
        .tag,
        .dates,
        .excerpt,
        .published,
        .blog-post-card
      ) {
      font: normal 400 95% var(--base-font-family-cartograph);
      font-optical-sizing: auto;
    }
  }

  code {
    background-color: var(--astro-code-background);
    border-radius: 5px;
    color: var(--code-color);
    padding: .1em .25em;
  }

  /*
  ----------------------------------------------------------------------------
  Table
  ----------------------------------------------------------------------------
  */
  table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1.5rem;
    border: 1.5px solid
      light-dark(
        color-mix(in oklch, var(--color-base-dark), white 60%),
        color-mix(in oklch, var(--color-base-light), black 60%)
      );
    color: var(--color-base-dark);
    background: light-dark(var(--color-gray-1), var(--color-gray-0));

    th {
      font-weight: 600;
      border-right: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      padding: 0.5rem;
      color: #fff;
      background-color: var(--color-expression-medium);
      word-break: break-all;
      vertical-align: middle;
    }

    td {
      border-right: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      padding: 0.5rem;
      word-break: break-all;
      vertical-align: middle;
    }

    thead tr {
      border-bottom: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      border-radius: 0.25rem;
    }

    tbody tr:last-child {
      border: none;
    }
  }

  /*
  ----------------------------------------------------------------------------
  Shared Heading Styles
  ----------------------------------------------------------------------------
  */
  :is(h1, h2, h3, h4, h5, h6, [class*="h--"]) {
    font-family: var(--base-font-family-alegreya);
    color: light-dark(var(--color-base-dark), var(--color-base-lightest));

    a {
      color: var(--color-text);
      border-bottom: none;
    }

    &:hover {
      a {
        color: var(--color-text);
        border-bottom: none;

        &::after {
          content: " #";
          color: var(--color-notify-medium);
        }
      }
    }

    + * {
      margin-top: 0;
    }
  }

  /*
  ----------------------------------------------------------------------------
  Page Tittle
  ----------------------------------------------------------------------------
  */
  .title {
    margin-block: var(--gutter-l) var(--gutter-xs);
    letter-spacing: .03em;
    text-wrap: balance;
    font-optical-sizing: auto;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--header-text);
    padding: .5rem;
    font-family: var(--base-font-family-cartograph);
    font-style: italic;
    font-weight: 600;
    font-optical-sizing: auto;
    margin-block: var(--gutter-s);

    .left {
      /* stylelint-disable-next-line no-descending-specificity */
      a {
        color: var(--color-text);
        border-bottom: none;
        width: 4rem;
        display: flex;
        transition: filter .2s;

        &:hover {
          filter: brightness(1.5);
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .logo {
    display: inline-block;
  }

  @media (width <= 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }

    .left {
      margin-bottom: 1rem;
    }

    .right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      /* stylelint-disable-next-line selector-id-pattern */
      #soundToggle {
        display: none;
      }
    }
  }

  footer {
    padding: 8rem 2rem 2rem;
    text-align: center;
    font-family: var(--base-font-family-alegreya);
    font-optical-sizing: auto;
    font-weight: 400;
  }
}
