@import "index.css";

/*
----------------------------------------------------------------------------
Base Styles under sakupi01.com
----------------------------------------------------------------------------
*/
:root {
  /**
   * scrollbar colours
   */
  --scrollbar-thumb-light: var(--color-gray-2);
  --scrollbar-thumb-dark: var(--color-gray-4);
  --scrollbar-bg-light: var(--color-gray-0);
  --scrollbar-bg-dark: var(--color-gray-5);

  /**
   * misc colours
   */
  --color-text: light-dark(var(--color-base-dark), var(--color-base-light));
  --color-text-reverse: light-dark(
    var(--color-base-light),
    var(--color-base-dark)
  );
  --header-text: light-dark(
    var(--color-primary-medium),
    var(--color-primary-medium)
  );
  --code-color: light-dark(var(--color-code-light), var(--color-code-dark));
  --focusable: deeppink;
  --focused: hotpink;
  --card-bg: light-dark(var(--color-gray-0), var(--color-base-dark));
  --card-bg-hover: light-dark(var(--color-gray-1), var(--color-base-darkest));
}

@scope (body) {
  * {
    line-height: 1.5;
  }

  /*
  ----------------------------------------------------------------------------
  Links
  ----------------------------------------------------------------------------
  */
  a {
    text-decoration-line: none;
    word-wrap: break-word;
  }

  /*
  ----------------------------------------------------------------------------
  Code
  ----------------------------------------------------------------------------
  */
  code {
    font-family: var(--base-font-family-cascadia);
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 90%;
    background-color: var(--astro-code-background);
    border-radius: 5px;
    color: var(--code-color);
    padding: .1em .25em;
  }

  /*
  ----------------------------------------------------------------------------
  Table
  ----------------------------------------------------------------------------
  */
  table {
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1.5px solid
      light-dark(
        color-mix(in oklch, var(--color-base-dark), white 60%),
        color-mix(in oklch, var(--color-base-light), black 60%)
      );
    color: var(--color-base-dark);
    background: light-dark(var(--color-ivory-1), var(--color-gray-0));

    th {
      font-weight: 600;
      border-right: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      padding: 0.5rem;
      color: #fff;
      background-color: var(--color-expression-medium);
    }

    td {
      border-right: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      padding: 0.5rem;
    }

    thead tr {
      border-bottom: 1.5px solid
        light-dark(
          color-mix(in oklch, var(--color-base-dark), white 50%),
          color-mix(in oklch, var(--color-base-light), black 50%)
        );
      border-radius: 0.25rem;
    }

    tbody tr:last-child {
      border: none;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--header-text);
  padding: .5rem;
  font-family: var(--base-font-family-cascadia);
  font-weight: 600;
  font-optical-sizing: auto;
  margin-block: var(--gutter-s);
}

footer {
  padding: 2rem;
  text-align: center;
  font-family: var(--base-font-family-alegreya);
  font-optical-sizing: auto;
  font-weight: 400;
}
