/*
----------------------------------------------------------------------------
Visually hide content but make it available to screen readers.
----------------------------------------------------------------------------
*/
.visually-hidden {
  &:not(:focus, :active) {
    /* stylelint-disable-next-line declaration-no-important */
    block-size: 1px !important;
    /* stylelint-disable-next-line declaration-no-important */
    clip-path: inset(50%) !important;
    /* stylelint-disable-next-line declaration-no-important */
    inline-size: 1px !important;
    /* stylelint-disable-next-line declaration-no-important */
    overflow: hidden !important;
    /* stylelint-disable-next-line declaration-no-important */
    position: absolute !important;
    /* stylelint-disable-next-line declaration-no-important */
    white-space: nowrap !important;
  }
}

/*
----------------------------------------------------------------------------
Display.

The CSS utility class behaves the same as the HTML attrribute.
----------------------------------------------------------------------------
*/
:is(.u-hidden, [hidden]) {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}
