---
import "@repo/ui/index.css";
import "../style/index.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "./BaseLayout.astro";
const { pageTitle } = Astro.props || "saku's blog";
---

<BaseLayout pageTitle={pageTitle}>
	<Header />
		<main>
			<slot />
		</main>
		<Footer />
</BaseLayout>