:root {
  /**
   * scrollbar colours
   */
  --scrollbar-thumb-light: var(--color-gray-2);
  --scrollbar-thumb-dark: var(--color-gray-4);
  --scrollbar-bg-light: var(--color-gray-0);
  --scrollbar-bg-dark: var(--color-gray-5);

  /**
   * misc colours
   */
  --color-text: light-dark(var(--color-base-dark), var(--color-base-light));
  --color-text-reverse: light-dark(
    var(--color-base-light),
    var(--color-base-dark)
  );
  --header-text: light-dark(
    var(--color-primary-medium),
    var(--color-primary-medium)
  );
  --code-color: light-dark(var(--color-code-light), var(--color-code-dark));
  --focusable: deeppink;
  --focused: hotpink;
  --card-bg: light-dark(var(--color-gray-0), var(--color-base-dark));
  --card-bg-hover: light-dark(var(--color-gray-1), var(--color-base-darkest));
}

* {
  a {
    text-decoration-line: none;
    word-wrap: break-word;
  }

  code {
    font-family: var(--font-family-operator);
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 600;
    font-size: 90%;
    background-color: var(--astro-code-background);
    border-radius: 5px;
    color: var(--code-color);
    padding: .1em .25em;
  }
}

body {
  line-height: 1.5;
}
