---
import { Image } from "astro:assets";
import sakupiIcon from "../assets/icon.svg";
---
<div class="header-icon">
    <a href="/"> <Image src={sakupiIcon} width="50" height="36" alt="logo"> </a>
</div>

<style>
    .header-icon {
        margin: 10px;
        a {
            color: var(--color-text);
            border-bottom: none;
            width: 4rem;
            display: flex;
            transition: filter .2s;
            &:hover {
                filter: brightness(1.5);
            }
        }
}
</style>