/*
----------------------------------------------------------------------------
Font-face rules.

'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/

@font-face {
  font-family: "Fallback for Alegreya";
  src: local("times new roman");
  size-adjust: 98%;
  ascent-override: 100%;
  descent-override: 25%;
  line-gap-override: 12%;
}

@font-face {
  font-family: "Fallback for Cascadia";
  src: local(arial);
  size-adjust: 102%;
  ascent-override: 98%;
  descent-override: 0%;
  line-gap-override: 0%;
}

/* operator */
@font-face {
  font-family: operator;
  font-weight: 200;
  src: url("/fonts/OperatorMonoLig/OperatorMonoLig-Light.otf")
    format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 115%;
}

@font-face {
  font-family: operator;
  font-weight: 200;
  src: url("/fonts/OperatorMonoLig/OperatorMonoLig-LightItalic.otf")
    format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 115%;
}

@font-face {
  font-family: operator;
  font-weight: 400 900;
  src: url("/fonts/OperatorMonoLig/OperatorMonoLig-Book.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 115%;
}

@font-face {
  font-family: operator;
  font-weight: 400 900;
  src: url("/fonts/OperatorMonoLig/OperatorMonoLig-BookItalic.otf")
    format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 115%;
}

/* CartographCF */
@font-face {
  font-family: cartograph;
  font-weight: 600;
  src: url("/fonts/CartographCF/CartographCF-ExtraBold.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 100%;
}

@font-face {
  font-family: cartograph;
  font-weight: 600;
  src: url("/fonts/CartographCF/CartographCF-ExtraBoldItalic.otf")
    format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 100%;
}

@font-face {
  font-family: cartograph;
  font-weight: 400;
  src: url("/fonts/CartographCF/CartographCF-DemiBold.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 100%;
}

@font-face {
  font-family: cartograph;
  font-weight: 400;
  src: url("/fonts/CartographCF/CartographCF-DemiBoldItalic.otf")
    format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 100%;
}

@font-face {
  font-family: cartograph;
  font-weight: 200;
  src: url("/fonts/CartographCF/CartographCF-Regular.otf") format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 100%;
}

@font-face {
  font-family: cartograph;
  font-weight: 200;
  src: url("/fonts/CartographCF/CartographCF-RegularItalic.otf")
    format("opentype");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
  size-adjust: 100%;
}

/* cascadia */
@font-face {
  font-family: cascadia;
  font-weight: 200 900;
  src: url("/fonts/Cascadia/CascadiaMonoNF.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
}

@font-face {
  font-family: cascadia;
  font-weight: 200 900;
  src: url("/fonts/Cascadia/CascadiaMonoNFItalic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0100-017F, U+0180-024F;
  font-display: swap;
}
