@import "./font.css";

/*
----------------------------------------------------------------------------
Typography settings.
----------------------------------------------------------------------------
*/

html {
  --base-font-family: var(--font-family-inter), var(--font-san-serif-fallback);
  --base-font-family-title: var(--font-family-alegreya),
    var(--font-fallback-alegreya), serif;
  --base-font-family-operator: var(--font-family-operator),
    var(--font-san-serif-fallback);
  --base-font-family-cartograph: var(--font-family-cartograph),
    var(--font-san-serif-fallback);
  --base-font-family-cascadia: var(--font-family-cascadia),
    var(--font-san-serif-fallback);
  --base-font-family-alegreya: var(--font-family-alegreya),
    var(--font-fallback-alegreya), serif;
  --base-font-size: 100%;
  --base-font-size-2k: 110%; /* 2K screens */
  --base-font-size-4k: 200%; /* 4K screens */
  --font-size-body: var(--step-0);
  --font-size-s: var(--step-05);
  --font-size-h5: var(--step-1);
  --font-size-h4: var(--step-2);
  --font-size-h3: var(--step-3);
  --font-size-h2: var(--step-4);
  --font-size-h1: var(--step-5);
  --font-size-xl: var(--step-6);

  /* Only adjust line-height when fonts get large */
  --base-line-height: 1.5;
  --line-height-h4: 1.3;
  --line-height-h3: 1.3;
  --line-height-h2: 1.2;
  --line-height-h1: 1.2;
  --line-height-xl: 1.2;

  /* Max line-length (aka measure) to improve readability of editorial content */
  --type-max-line-length: null;
}
