@font-face {
  font-family: "Redacted";
  src: url("https://assets.codepen.io/15542/redacted-regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Redacted";
  src: url("https://assets.codepen.io/15542/redacted-script-bold.woff2")
    format("woff2");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Redacted";
  src: url("https://assets.codepen.io/15542/redacted-script-regular.woff2")
    format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Redacted";
  src: url("https://assets.codepen.io/15542/redacted-script-regular.woff2")
    format("woff2");
  font-style: italic;
  font-weight: normal;
}
