@font-face {
  font-family: Redacted;
  font-style: normal;
  font-weight: var(--s-font-weight-normal);
  src: url("https://assets.codepen.io/15542/redacted-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: Redacted;
  font-style: italic;
  font-weight: var(--s-font-weight-bold);
  src: url("https://assets.codepen.io/15542/redacted-script-bold.woff2")
    format("woff2");
}

@font-face {
  font-family: Redacted;
  font-style: italic;
  font-weight: var(--s-font-weight-normal);
  src: url("https://assets.codepen.io/15542/redacted-script-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: Redacted;
  font-style: italic;
  font-weight: var(--s-font-weight-normal);
  src: url("https://assets.codepen.io/15542/redacted-script-regular.woff2")
    format("woff2");
}
