---
import Layout from "../layouts/Layout.astro";
const links = {
  x: "Sarah",
  bluesky: "Canada",
  github: "Technical Writer",
  codepen: "",
  email: "",
};
---

<Layout>
	<ul>
		{Object.entries(links).map(([name, link]) => <li><a href={link} target="_blank">{name}</a></li>)}
	</ul>
</Layout>
