---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import { allPosts } from "../../utils/contents";

function getTags() {
  const dynamicTags = [...new Set(allPosts.flatMap((post) => post.data.tags))];
  return dynamicTags;
}

const tags = getTags();
---
<Layout pageTitle="Tags Archive" description="Tags Archive" url="/tags/">
  <Title title="Tags Archive ..." />
  <ul class="tags">
    {tags.map((tag: any) => (
      <li class="tag">
        <a href={`/tags/${tag}`}>#{tag}</a>
      </li>
    ))}
  </ul>
</Layout>


<style>
  .tag {
    line-height: 2rem;
  }
</style>