---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import { allPosts } from "../../utils/contents";

function getTags() {
  const dynamicTags = [...new Set(allPosts.flatMap((post) => post.data.tags))];
  return dynamicTags;
}

const tags = getTags();
---
<Layout pageTitle="saku's blog - Tags" description="Tags Archive" url="/tags/">
  <Title title="Tags Archive ..." />
  <ul class="tags">
    {tags.map((tag: any) => (
      <li class="tag">
        <a href={`/tags/${tag}`}>#{tag}</a>
      </li>
    ))}
  </ul>
</Layout>


<style>
  .tag {
    font-family: var(--font-family-operator);
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: italic;
    a {
      transition: color .2s;
    color: var(--focusable);
    &:hover {
        color: var(--focused);
        text-decoration: underline;
        text-decoration-color: var(--focused);
        text-decoration-thickness: 0.2rem;
        text-decoration-style: dotted;
        text-decoration-skip-ink: none;
    }
  }
  }
</style>